/**
 * basic
 */
html {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #000;
}
img {
	border: none;
}

/**
 * search form
 */
h1 {
	margin: 0;
	padding: 0;
	line-height: 38px;
}
#searchForm {
	display: block;
	padding: 10px 15px;
	margin: 5px;
	background: -moz-linear-gradient(top, #CCC, #999);
	background: -webkit-gradient(linear, center top, center bottom, from(#CCC), to(#999));
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #AAA;
}
#keyword {
	font-size: large;
	width: 60%;
	height: 30px;
	vertical-align: middle;
}
#searchBtn {
	padding: 0 5px;
	background: -moz-linear-gradient(top, #FFF, #DDD);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#DDD));
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 28px;
	font-weight: bold;
	font-size: medium;
	border: 1px solid #DDD;
}
tr.loading {
	background: none;
	line-height: 100px;
	text-align: center;
}

/**
 * intro
 */
tr#intro {
	background: none;
}
img#introArrow {
	display: block;
}
#introBox {
	background: -moz-linear-gradient(top, #EEE, #DDD);
	background: -webkit-gradient(linear, center top, center bottom, from(#EEE), to(#DDD));
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 5px 5px 5px;
	padding: 10px 15px;
}

/**
 * artwork
 */
.artwork {
	clear: both;
	display: block;
	margin: none;
	width: 60px;
}
.artworkCell {
	width: 60px;
}
audio {
	display: none;
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/**
 * track information
 */
table {
	width: 100%;
}
tr {
	background: -moz-linear-gradient(top, #DDD, #FFF);
	background: -webkit-gradient(linear, center top, center bottom, from(#DDD), to(#FFF));
	color: #000;
}
tr.playing {
	background: -moz-linear-gradient(top, #3D80DE, #5AF);
	background: -webkit-gradient(linear, center top, center bottom, from(#3D80DE), to(#5AF));
	color: #FFF;
}
tr.stop {
	background: -moz-linear-gradient(top, #666, #888);
	background: -webkit-gradient(linear, center top, center bottom, from(#666), to(#888));
	color: #FFF;
}

h2 {
	font-size: medium;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

.artist {
	display: block;
	clear: both;
	font-size: small;
}
.track {
	margin: 5px 0 0 0;
	display: block;
	clear: both;
	font-size: medium;
}
.album {
	margin: 5px 0 0 0;
	display: block;
	clear: both;
	font-size: small;
}

/**
 * paging link
 */
#more {
	background: -moz-linear-gradient(top, #DDD, #BBB);
	background: -webkit-gradient(linear, center top, center bottom, from(#DDD), to(#BBB));
}
#more div {
	font-size: large;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	widht: 100%;
}

/**
 * footer
 */
footer {
	clear: left;
	display: block;
	margin: 20px 0 0 0;
	padding: 5px 0;
}
footer small {
	margin: 0 5px;
	padding: 0;
	line-height: 18px;
}
footer small img {
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
	text-decoration: none;
	vertical-align: bottom;
}
