/* === override jqm === */
.ui-bar-a {
  border: none;
  color: #666;
  text-shadow: 0 -1px 1px #000000;
  background: transparent;
  background-image: none;
}
.ui-header {
  background: -moz-linear-gradient(top, #222222 0%, #222222 73%, #111111 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(73%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222222 0%,#222222 73%,#111111 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222222 0%,#222222 73%,#111111 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #222222 0%,#222222 73%,#111111 100%); /* IE10+ */
  background: linear-gradient(top, #222222 0%,#222222 73%,#111111 100%); /* W3C */
  height: 50px;
  text-align: center;
}
.ui-header .ui-title {
  margin: 15px auto 0 auto;
}
.ui-bar-a p {
  font-weight: normal;
}

.ui-body-a {
  background-image: none;
}

.ui-li-heading {
  font-weight: normal;
  margin: 0.1em 0;

}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
  min-height: 60px;
  padding-left: 0;
  padding-right: 0;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
  padding: 0;
  display: block;
}

.ui-li-thumb, .ui-li-icon {
  left: 0;
}

.landscape, .landscape .ui-page {
  min-height: 0px; 
}

.ui-btn-up-a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-image: -moz-linear-gradient(top, #333, #222);
  background-image: -ms-linear-gradient(top, #333, #222);
  background-image: -o-linear-gradient(top, #333, #222);
  background-image: linear-gradient(top, #333, #222);
}

.ui-btn-hover-a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-image: -moz-linear-gradient(top, #333, #222);
  background-image: -ms-linear-gradient(top, #333, #222);
  background-image: -o-linear-gradient(top, #333, #222);
  background-image: linear-gradient(top, #333, #222);
}

.ui-btn-down-a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
  background-image: -webkit-linear-gradient(top, #222, #333);
  background-image: -moz-linear-gradient(top, #222, #333);
  background-image: -ms-linear-gradient(top, #222, #333);
  background-image: -o-linear-gradient(top, #222, #333);
  background-image: linear-gradient(top, #222, #333);
}

.ui-li-link-alt {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
  background-image: -webkit-linear-gradient(top, #444, #333);
  background-image: -moz-linear-gradient(top, #444, #333);
  background-image: -ms-linear-gradient(top, #444, #333);
  background-image: -o-linear-gradient(top, #444, #333);
  background-image: linear-gradient(top, #444, #333);

}

.ui-btn-icon-left {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
  background-image: -webkit-linear-gradient(top, #444, #333);
  background-image: -moz-linear-gradient(top, #444, #333);
  background-image: -ms-linear-gradient(top, #444, #333);
  background-image: -o-linear-gradient(top, #444, #333);
  background-image: linear-gradient(top, #444, #333);
}

.ui-btn-text {
  font-weight: normal;
}

.ui-li-heading {
  font-size: 14px;
}


/* === default === */
body {
  background: #222;
}

a {
  text-decoration: none;
  color: #ddd;
}
a:focus {
  background-color: transparent;
  border: none;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
  width: 165px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2em;
  overflow: hidden;
}

/* === class === */
.ui-header .ui-btn-right,
.ui-header .ui-btn-left {
  top: 10px;
}

.ui-header h1 {
  width :137px;
  height: 18px;
  text-indent: -9999px;
  background: url("/images/css_sprite.png") no-repeat;
  -webkit-background-size: 204px 196px;
  -moz-background-size: 204px 196px;
  -o-background-size: 204px 196px;
  background-size: 204px 196px;
}

.ui-content {
  clear: left;
}

.ui-link-inherit h2,
.ui-link-inherit h3,
.ui-link-inherit h4 {
  margin-left: 70px;
}

.not_focused {
  color: #666;
}

.btn_pane {
  display: block;
  border-top: #000;
  overflow: visible;

  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 20%, rgba(51,51,51,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(34,34,34,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(34,34,34,1) 20%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(34,34,34,1) 20%,rgba(51,51,51,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(34,34,34,1) 20%,rgba(51,51,51,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(34,34,34,1) 20%,rgba(51,51,51,1) 100%); /* W3C */
}
.btn_list {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 48px;
  text-align: center;
}

.artwork {
  width: 60px;
  height: 60px;
}

.hidden {
  position: absolute;
  display: none;
  visibility: hidden;
}

.ui-btn-inner {
  border-top: none; /* 表示崩れ対策 */
}

.intro {
  width: auto;
  height: 204px;
  padding: 0 0 0 103px;
  background: url("/images/css_sprite.png") 0px -18px no-repeat;
  -webkit-background-size: 204px 196px;
  -moz-background-size: 204px 196px;
  -o-background-size: 204px 196px;
  background-size: 204px 196px;
}

/* === id === */
#menu {
  display: block;
  width: 100%;
  height: 30px;
}

#menu a {
  display: block;
  float: left;
  text-align: center;
  line-height: 30px;
  width: 50%;
  border-top: 1px #444 solid;
  border-bottom: 1px #1a1a1a solid;
  color: #666;
  font-weight: normal;
  background: -moz-linear-gradient(top, #222222 0%, #282828 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#282828)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222222 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222222 0%,#282828 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #222222 0%,#282828 100%); /* IE10+ */
  background: linear-gradient(top, #222222 0%,#282828 100%); /* W3C */
}

#menu a.selected {
  border-top: 1px #008EED solid;
  border-bottom: none;
  color: #ddd;

  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%,#222222 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #333333 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(top, #333333 0%,#222222 100%); /* W3C */
}

#search_result_container,
#album_result_container,
#bookmarks_result_container{
  margin: 5px 0 0 0;
}

#more a{
  text-align: center;
  line-height: 60px;
}

#footer {
  width: 100%;
  border-top: 1px #1a1a1a solid;
}

#footer p{
  text-align: center;
  width: 100%;
  text-decoration: none;
}

#footer p a {
  font-weight: normal;
  color: #666;
  text-decoration: none;
}

/* album page */

/* === id === */
#album {
  margin: 0 -15px 20px -15px;
  height: 100px;
  border-top: 1px solid #161616;
  border-bottom: 1px solid #333;
  padding: 10px;
  background: -moz-linear-gradient(center top, #000 37%,#181818 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.37, #000),color-stop(1, #181818));
}

#album img {
  margin: 0 10px 0 0;
  float: left;
}

#album p {
  margin: 0 0 0.2em 110px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

